APP_NAME=Rastertech-PlanB
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

# DATABASE (External Stack Connection)
DB_CONNECTION=pgsql
# IP do Host do Ubuntu ou o IP gerado pelo docker network
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

# REDIS (External Stack Connection)
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# SUPABASE SERVICES (Plan B URLs)
SUPABASE_URL=http://localhost:8000
SUPABASE_API_KEY=supabase_studio_key_here
SUPABASE_STORAGE_URL=http://localhost:8000/storage/v1

# ADMINLTE SETTINGS
ADMINLTE_SIDEBAR_NAV_DARK=true
ADMINLTE_THEME_COLOR=blue
