APP_NAME=Sistema-Rastertech
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database (Sintonizado com a Stack Embraet)
DB_CONNECTION=pgsql
DB_HOST=rastertech-db
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=567099a56bbd02ecaaff74dbe4edd2ca

# Redis (Interno Docker)
REDIS_HOST=rastertech-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Supabase BaaS (Acesso Interno)
SUPABASE_URL=http://rastertech-kong:8000
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogInNlcnZpY2Vfcm9sZSIsCiAgImlzcyI6ICJzdXBhYmFzZSIsCiAgImlhdCI6IDE3MTUwNTA4MDAsCiAgImV4cCI6IDE4NzI4MTcyMDAKfQ.PnDYHGVIF6uehcepan_Q84yhYDY9by0FJmymx9VoJ8k
SUPABASE_STORAGE_URL=http://rastertech-storage:8080/storage/v1

# Logflare (Auditoria)
LOGFLARE_API_KEY=a9efc6a5c8c857bfd8f7250276209e80

# AdminLTE UI
ADMINLTE_THEME_COLOR=blue
ADMINLTE_SIDEBAR_NAV_DARK=true
